
<div class="page-width page-content" style="margin-top:40px">

  <header class="section-header">
    <h1 class="section-header__title">{{ page.title }}</h1>
  </header>

  {% section 'help-center-body' %}
</div>
